<% provide(:title, "出勤社員一覧") %>
  <h1>出勤中社員一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-striped table-bordered table-condensed table-hover">
    <tr>
      <th class="col-xs-4 center">社員番号</th>
      <th class="col-xs-8 center">名前</th>
    </tr>
    <% @attendance.each do |attendance| %>
      <% User.group("users.id").where(id: attendance.user_id).each do |user| %>
        <tbody>
          <th class="col-xs-4 center"><%= user.employee_number %></th>
          <th class="col-xs-8 center"><%= user.name %></th>
        </tbody>
      <% end %>
    <% end %>
  </table>
</div>
