/* モーダルウインドウの位置調整 */
.modal-dialog-center {
  padding-top: 10%;
}
/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

.overwork-table {
  
  vertical-align: middle;
    text-align: center;
    
  th {
    vertical-align: middle;
    text-align: center;
  }
    
  td {
    vertical-align: middle;
    text-align: center;
  }
}
