.base-table {
  vertical-align: middle;
  text-align: center;
  
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.btn-base {
  float: right;
  margin-right: 15px;
}

.label-base {
  margin-top: 10px;
}

.btn-new-base {
  margin-top: 10px;
}