.base-table {
  vertical-align: middle;
  text-align: center;
  
  th {
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.btn-base {
  float: left;
  margin-left: 15px;
}

.label-base {
  margin-top: 10px;
}

.btn-new-base {
  margin-top: 10px;
}

.base-cell {
  font-size: 20px;
}