/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  border-top: none;
  tr {
    text-decoration: none;  
  }
  
  td {
    padding-top: 10px;
    font-size: 1.3em;
  }  
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* 曜日のカラー変更 */
.sunday {
  color: red;
}

.saturday {
  color: blue;
}

.code {
  width: 80px;
}

.time-area {
  width: 35px;
}

.time-area-end {
  width: 70px;
}

.search { 
}

/* 残業申請のお知らせ */

.users-news {
  font-size: 1.2em;
  margin-bottom: 30px;
  p {
  padding-top: 10px;
  line-height: 12px;
  }
}

.change-attendance-show {
  font-size: 0.8em;
  color: red;
  border: double 3px;
  padding-left: 7px;
}

.change-attendance-show:hover {
  color: red;
  background-color: #FAFAD2;
}





.btn-edit-user {
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn-csv {
  margin-top: 15px;
  margin-bottom: 10px;
}

/* 勤怠変更申請 */
.change-attendance {
  margin-top: 15px;
  margin-bottom: 15px;
}

